@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/roboto/index.css';
$colorbrand: #141414;
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorbrand;
    color: white;
    font-family: 'Roboto', sans-serif;
}