@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/roboto/index.css';
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}