           main {
               margin: auto;
               h1 {
                   color: #CA0A12;
                   margin-top: 40px;
               }
               .main-c {
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-evenly;
               }
           }
           
           @media all and (max-width: 767px) {
               main {
                   width: 90%;
                   h1 {
                       font-size: 1rem;
                       display: inline-block;
                       margin-bottom: 20px;
                   }
               }
           }
           
           @media all and (min-width: 768px) {
               main {
                   width: 90%;
                   h1 {
                       font-size: 1.3rem;
                       display: inline-block;
                       margin-bottom: 30px;
                   }
               }
           }
           
           @media all and (min-width: 1200px) {}